/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
.header {
  width: 100%;
  height: 620px;
  margin-bottom: 50px;
  background: linear-gradient(99.87deg, rgba(27, 26, 31, 0.96) 1.39%, rgba(34, 33, 39, 0.96) 28.4%, rgba(23, 23, 27, 0.96) 66.7%, rgba(27, 26, 31, 0.96) 98.14%), url(../images/banner.png) no-repeat right;
  background-size: cover;
}

.header .navbar {
  height: 100px;
  background-color: transparent !important;
}

.header .navbar ul {
  margin: 0 auto;
}

.header .navbar ul a {
  color: #ffffff;
  opacity: 70%;
  margin-left: 30px;
  font-size: 15px;
}

.header .navbar .contact-us-btn {
  color: #ffffff;
  background-color: #3C3A3F;
  padding: 13px 30px;
  border-radius: 25px;
  font-size: 15px;
}

.header .header-content {
  width: 100%;
  height: 520px;
  position: relative;
}

.header .header-content p.header-trust {
  color: #ffffff;
  font-family: "Gilroy";
  word-spacing: 3px;
}

.header .header-content p.header-trust span, .header .header-content p.header-trust .permissions .permissions-item .permissions-desc a, .permissions .permissions-item .permissions-desc .header .header-content p.header-trust a {
  color: #08C0F8;
}

.header .header-content .header-title {
  font-size: 50px;
  margin: 25px 0;
  color: #ffffff;
  font-family: "Kalameh";
}

.header .header-content .header-desc {
  width: 580px;
  font-size: 15px;
  color: #A09CAD;
  line-height: 1.8;
  margin-bottom: 50px;
}

.header .header-content .header-btn {
  color: #ffffff;
  background-color: #08C0F8;
  padding: 13px 30px;
  border-radius: 25px;
  font-size: 15px;
}

.header .header-content .header-btn svg {
  margin: 5px 0 0 10px;
}

.header .header-content .header-img {
  position: absolute;
  bottom: -35px;
  left: 0;
}

.header .header-content .header-img .img-border {
  position: absolute;
  width: 408px;
  height: 473px;
  left: 16px;
  bottom: 35px;
  border: 2.5px solid #ffffff;
  border-radius: 250px 250px 0px 0px;
  opacity: 10%;
}

.header .header-content .header-img img {
  z-index: 2;
}

.header .header-content .header-mouse {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  box-shadow: 0px 30px 35px rgba(42, 43, 74, 0.07);
  padding: 20px 15px;
  border-radius: 25px;
}

/* -------------------------------------------------------------------------- */
/*                                  About us                                  */
/* -------------------------------------------------------------------------- */
.about-us {
  padding-bottom: 100px;
}

.about-us .about-img {
  position: relative;
}

.about-us .about-img .img-border {
  position: absolute;
  width: 408px;
  height: 510px;
  left: 5px;
  bottom: -15px;
  border: 2.5px solid #F5AD57;
  border-radius: 250px 250px 0px 0px;
  opacity: 60%;
  z-index: -1;
}

.about-us .about-content h2 {
  font-size: 38px;
  color: #1B1A1FFA;
  font-family: "Kalameh";
  text-align: right;
}

.about-us .about-content p {
  font-size: 15px;
  margin: 25px 0;
  text-align: justify;
  line-height: 1.8;
  color: #A09CAD;
}

.about-us .about-content ul {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-us .about-content ul li {
  font-size: 17px;
  font-weight: 700;
  color: #2A292F;
}

.about-us .about-content ul li img {
  margin-left: 10px;
}

.about-us .about-content .lavino {
  color: #ffffff;
  background-color: #F5AD57;
  padding: 13px 30px;
  border-radius: 25px;
  font-size: 15px;
  margin-left: 10px;
}

.about-us .about-content .questions {
  color: #1C1C1F;
  background-color: #F7F9FC;
  padding: 13px 30px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 700;
}

.consulting-form {
  height: 660px;
  padding: 60px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02)), url(../images/consulting.png) no-repeat bottom left;
  background-size: cover;
}

.consulting-form .consulting-title {
  text-align: center;
}

.consulting-form .consulting-title h2 {
  font-size: 34px;
  color: #1B1A1FFA;
  font-family: "Kalameh";
  text-align: center;
}

.consulting-form .consulting-title span, .consulting-form .consulting-title .permissions .permissions-item .permissions-desc a, .permissions .permissions-item .permissions-desc .consulting-form .consulting-title a {
  position: relative;
  font-size: 14px;
  color: #5B5B6B;
  font-family: "Yekan Bakh";
}

.consulting-form .consulting-title span::after, .consulting-form .consulting-title .permissions .permissions-item .permissions-desc a::after, .permissions .permissions-item .permissions-desc .consulting-form .consulting-title a::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-65%);
  width: 94px;
  border-bottom: 2px solid #F5AD57;
  border-radius: 50%;
}

.consulting-form form {
  width: 60%;
  margin: 65px auto 0 auto;
}

.consulting-form form span, .consulting-form form .permissions .permissions-item .permissions-desc a, .permissions .permissions-item .permissions-desc .consulting-form form a {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: none;
  border-color: #E0E3EB;
  border-radius: 2px !important;
}

.consulting-form form span::after, .consulting-form form .permissions .permissions-item .permissions-desc a::after, .permissions .permissions-item .permissions-desc .consulting-form form a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 1.3px;
  height: 30px;
  background-color: #d2d5db;
}

.consulting-form form input {
  background-color: rgba(255, 255, 255, 0.5);
  border-right: none;
  border-color: #E0E3EB;
  border-radius: 2px !important;
}

.consulting-form form input::placeholder {
  font-size: 15px;
  color: rgba(31, 30, 35, 0.3);
  font-family: "Yekan Bakh";
}

.consulting-form form input:focus {
  border-color: #E0E3EB;
  background-color: rgba(255, 255, 255, 0.5);
}

.consulting-form form select {
  background-color: rgba(255, 255, 255, 0.5);
  border-right: none;
  border-color: #E0E3EB;
  border-radius: 2px !important;
  font-size: 15px !important;
  color: rgba(31, 30, 35, 0.3);
  font-family: "Yekan Bakh";
}

.consulting-form form select::placeholder {
  font-size: 15px;
  color: rgba(31, 30, 35, 0.3);
  font-family: "Yekan Bakh";
}

.consulting-form form select:focus {
  border-color: #E0E3EB;
  background-color: rgba(255, 255, 255, 0.5);
}

.consulting-form form textarea {
  background-color: rgba(255, 255, 255, 0.5);
  border-right: none;
  border-color: #E0E3EB;
  border-radius: 2px !important;
  border: solid 1px #E0E3EB;
}

.consulting-form form textarea::placeholder {
  font-size: 15px;
  color: rgba(31, 30, 35, 0.3);
  font-family: "Yekan Bakh";
}

.consulting-form form textarea:focus {
  border-color: #E0E3EB;
  background-color: rgba(255, 255, 255, 0.5);
}

.consulting-form form button {
  color: #ffffff;
  background-color: #F5AD57;
  padding: 13px 30px;
  border-radius: 25px;
  font-size: 15px;
  width: fit-content;
  margin: 0 auto;
}

/* -------------------------------------------------------------------------- */
/*                                  Products                                  */
/* -------------------------------------------------------------------------- */
.products {
  padding: 60px 0;
}

.products .products-title {
  text-align: center;
  margin-bottom: 60px;
}

.products .products-title h2 {
  font-size: 34px;
  color: #1B1A1FFA;
  font-family: "Kalameh";
  text-align: center;
}

.products .products-title span, .products .products-title .permissions .permissions-item .permissions-desc a, .permissions .permissions-item .permissions-desc .products .products-title a {
  position: relative;
  font-size: 14px;
  color: #5B5B6B;
  font-family: "Yekan Bakh";
}

.products .products-title span::after, .products .products-title .permissions .permissions-item .permissions-desc a::after, .permissions .permissions-item .permissions-desc .products .products-title a::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-65%);
  width: 94px;
  border-bottom: 2px solid #08C0F8;
  border-radius: 50%;
}

.products .products-item {
  width: fit-content;
  padding: 35px 70px 30px 70px;
  border: 1.3px solid #EFF1F8;
}

.products .products-item .products-img {
  position: relative;
}

.products .products-item .products-img .img-desc {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 99%;
  height: 40px;
  background-color: #151822BF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy";
  color: #ffffff;
  letter-spacing: 3px;
  border-radius: 0 0 5px 5px;
}

.products .products-item h3 {
  margin: 30px 0 15px 0;
  font-size: 18px;
  color: #1C1C1F;
  font-family: "Yekan Bakh";
  font-weight: 700;
}

.products .products-item span, .products .products-item .permissions .permissions-item .permissions-desc a, .permissions .permissions-item .permissions-desc .products .products-item a {
  font-size: 17px;
  color: #08C0F8;
  font-family: "Yekan Bakh";
}

.products button {
  color: #ffffff;
  background-color: #08C0F8;
  padding: 13px 30px;
  border-radius: 25px;
  font-size: 15px;
  margin-top: 70px;
}

.feedback {
  height: 500px;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../images/feedback.png) no-repeat;
  background-size: cover;
  backdrop-filter: blur(14px);
  padding: 50px 0;
}

.feedback .feedback-title {
  text-align: center;
  margin-bottom: 60px;
}

.feedback .feedback-title h2 {
  font-size: 38px;
  color: #1C1C1F;
  font-family: "Kalameh";
  text-align: center;
}

.feedback .feedback-title span, .feedback .feedback-title .permissions .permissions-item .permissions-desc a, .permissions .permissions-item .permissions-desc .feedback .feedback-title a {
  position: relative;
  font-size: 14px;
  color: #5B5B6B;
  font-family: "Yekan Bakh";
}

.feedback .feedback-title span::after, .feedback .feedback-title .permissions .permissions-item .permissions-desc a::after, .permissions .permissions-item .permissions-desc .feedback .feedback-title a::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-65%);
  width: 94px;
  border-bottom: 2px solid #F5AD57;
  border-radius: 50%;
}

.feedback .feedback-item {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.feedback .feedback-item .feedback-desc {
  width: 100%;
  padding: 30px 30px 40px 30px;
  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #ffffff;
  box-shadow: 0px 10px 75px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(15px);
}

.feedback .feedback-item .feedback-desc p {
  font-size: 16px;
  font-family: "Yekan Bakh";
  color: #5B5B6B;
  line-height: 1.8;
}

.feedback .feedback-item .feedback-author {
  position: relative;
  margin-top: -35px;
}

.feedback .feedback-item .feedback-author img {
  padding: 5px;
  border: 2px solid #F5AD57;
  border-radius: 50%;
  margin-bottom: 20px;
}

.feedback .feedback-item .feedback-author h5 {
  font-family: "Yekan Bakh";
  font-size: 16px;
  color: #1B1A1FFA;
  font-weight: 700;
  margin-bottom: 0;
}

.feedback .feedback-item .feedback-author span, .feedback .feedback-item .feedback-author .permissions .permissions-item .permissions-desc a, .permissions .permissions-item .permissions-desc .feedback .feedback-item .feedback-author a {
  font-family: "Yekan Bakh";
  font-size: 12px;
  color: #F5AD57;
}

.departments {
  padding: 60px 0;
  text-align: center;
}

.departments .departments-title {
  text-align: center;
  margin-bottom: 60px;
}

.departments .departments-title h2 {
  font-size: 34px;
  color: #1B1A1FFA;
  font-family: "Kalameh";
  text-align: center;
}

.departments .departments-title span, .departments .departments-title .permissions .permissions-item .permissions-desc a, .permissions .permissions-item .permissions-desc .departments .departments-title a {
  position: relative;
  font-size: 14px;
  color: #5B5B6B;
  font-family: "Yekan Bakh";
}

.departments .departments-title span::after, .departments .departments-title .permissions .permissions-item .permissions-desc a::after, .permissions .permissions-item .permissions-desc .departments .departments-title a::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-65%);
  width: 94px;
  border-bottom: 2px solid #08C0F8;
  border-radius: 50%;
}

.departments .departments-item {
  text-align: center;
  background: #ffffff;
  border: 1.3px solid #EFF1F8;
  padding: 30px 60px 35px 60px;
  margin-bottom: 35px;
}

.departments .departments-item img {
  padding: 20px;
  border: 1.4px solid #EFF1F8;
  border-radius: 50%;
  margin-bottom: 30px;
}

.departments .departments-item h3 {
  font-family: "Yekan Bakh";
  font-size: 18px;
  color: #1C1C1F;
  font-weight: 700;
}

.departments button {
  color: #ffffff;
  background-color: #08C0F8;
  padding: 13px 30px;
  border-radius: 25px;
  font-size: 15px;
}

.permissions {
  padding: 60px;
  text-align: center;
}

.permissions .permissions-title {
  margin-bottom: 60px;
}

.permissions .permissions-title h2 {
  font-size: 34px;
  color: #1B1A1FFA;
  font-family: "Kalameh";
  text-align: center;
}

.permissions .permissions-title span, .permissions .permissions-title .permissions-item .permissions-desc a, .permissions .permissions-item .permissions-desc .permissions-title a {
  position: relative;
  font-size: 14px;
  color: #5B5B6B;
  font-family: "Yekan Bakh";
}

.permissions .permissions-title span::after, .permissions .permissions-title .permissions-item .permissions-desc a::after, .permissions .permissions-item .permissions-desc .permissions-title a::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-65%);
  width: 94px;
  border-bottom: 2px solid #F5AD57;
  border-radius: 50%;
}

.permissions .permissions-item {
  padding: 20px 18px 20px 28px;
  border: 1.3px solid #EFF1F8;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.permissions .permissions-item .permissions-img {
  padding: 20px 18px;
  background-color: rgba(245, 173, 87, 0.12);
  border-radius: 2px;
}

.permissions .permissions-item .permissions-desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  text-align: start;
}

.permissions .permissions-item .permissions-desc h5 {
  font-size: 17px;
  font-weight: 700;
  color: #1C1C1F;
  font-family: "Yekan Bakh";
}

.permissions .permissions-item .permissions-desc span, .permissions .permissions-item .permissions-desc a {
  font-size: 14px;
  color: #F5AD57;
  font-family: "Yekan Bakh";
}

.permissions button {
  color: #ffffff;
  background-color: #F5AD57;
  padding: 13px 30px;
  border-radius: 25px;
  font-size: 15px;
}

.blog {
  padding: 60px;
  text-align: center;
}

.blog .blog-title {
  margin-bottom: 60px;
}

.blog .blog-title h2 {
  font-size: 34px;
  color: #1B1A1FFA;
  font-family: "Kalameh";
  text-align: center;
}

.blog .blog-title span, .blog .blog-title .permissions .permissions-item .permissions-desc a, .permissions .permissions-item .permissions-desc .blog .blog-title a {
  position: relative;
  font-size: 14px;
  color: #5B5B6B;
  font-family: "Yekan Bakh";
}

.blog .blog-title span::after, .blog .blog-title .permissions .permissions-item .permissions-desc a::after, .permissions .permissions-item .permissions-desc .blog .blog-title a::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-65%);
  width: 94px;
  border-bottom: 2px solid #08C0F8;
  border-radius: 50%;
}

.blog .blog-item h5 {
  font-size: 19px;
  font-family: "Yekan Bakh";
  color: #1C1C1F;
  font-weight: 700;
  margin-bottom: 15px;
}

.blog .blog-item p {
  color: #878793;
  font-size: 13px;
  line-height: 24px;
}

.blog .blog-item a {
  font-size: 13px;
  color: #08C0F8;
}

.blog button {
  color: #ffffff;
  background-color: #08C0F8;
  padding: 13px 30px;
  border-radius: 25px;
  font-size: 15px;
}

.contact-us {
  padding: 50px 0;
  background: url(../images/contact-us.png) no-repeat;
  background-color: #08c0f8;
  background-size: cover;
}

.contact-us .contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-us .contact-content h5 {
  font-size: 22px;
  font-family: "Yekan Bakh";
  color: #ffffff;
}

.contact-us .contact-content span, .contact-us .contact-content .permissions .permissions-item .permissions-desc a, .permissions .permissions-item .permissions-desc .contact-us .contact-content a {
  font-size: 11px;
  font-family: "Gilroy";
  color: #ffffff;
  letter-spacing: .05em;
}

.contact-us .contact-content .contact-info {
  display: flex;
  align-items: center;
}

.contact-us .contact-content .contact-info .info-item:first-child {
  margin-left: 70px;
}

.contact-us .contact-content .contact-info .info-item {
  display: flex;
  align-items: center;
  text-align: end;
}

.contact-us .contact-content .contact-info .info-item img {
  padding: 16px;
  border: 1.4px solid #ffffff;
  border-radius: 50%;
}

.contact-us .contact-content .contact-info .info-item section {
  margin-left: 20px;
}

.contact-us .contact-content .contact-info .info-item section p {
  font-size: 14px;
  color: #ffffff;
  font-size: "Gilroy";
  letter-spacing: .1em;
  margin-bottom: 0;
}

.contact-us .contact-content .contact-info .info-item section a {
  font-size: 22px;
  color: #ffffff;
  letter-spacing: .06em;
  font-family: "Gilroy";
}

.footer {
  padding: 80px 0;
  background: linear-gradient(99.87deg, rgba(27, 26, 31, 0.98) 1.39%, rgba(34, 33, 39, 0.98) 28.4%, rgba(23, 23, 27, 0.98) 66.7%, rgba(27, 26, 31, 0.98) 98.14%);
}

.footer .footer-desc .desc-title {
  padding-right: 20px;
  border-right: 3px solid #08C0F8;
}

.footer .footer-desc .desc-title h3 {
  font-size: 30px;
  color: #ffffff;
  font-family: "Kalameh";
  text-align: right;
  margin-bottom: 0;
}

.footer .footer-desc .desc-title span, .footer .footer-desc .desc-title .permissions .permissions-item .permissions-desc a, .permissions .permissions-item .permissions-desc .footer .footer-desc .desc-title a {
  font-size: 18px;
  color: #ffffff;
  font-family: "Kalameh";
  text-align: right;
}

.footer .footer-desc p {
  font-size: 16px;
  margin: 20px 0;
  color: #908C9C;
  line-height: 26px;
  text-align: justify;
}

.footer .footer-desc a {
  font-size: 13px;
  color: #08C0F8;
}

.footer .quick-access {
  text-align: start;
}

.footer .quick-access h5 {
  font-size: 16px;
  font-family: "Yekan Bakh";
  color: #ffffff;
  margin-bottom: 25px;
}

.footer .quick-access ul {
  display: flex;
  flex-wrap: wrap;
}

.footer .quick-access ul li {
  width: 45%;
  font-size: 15px;
  font-family: "Yekan Bakh";
  opacity: .7;
  margin-bottom: 20px;
}

.footer .quick-access ul li a {
  color: #ffffff;
}

.footer .connect {
  border: 1.5px dashed #47464A;
  border-radius: 7px;
  padding: 35px 30px;
}

.footer .connect .connect-info h3 {
  font-size: 20px;
  font-family: "Yekan Bakh";
  color: #ffffff;
  margin-bottom: 25px;
}

.footer .connect .connect-info ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer .connect .connect-info ul li:last-child {
  margin-right: 40px;
}

.footer .connect .connect-info ul a {
  margin-left: 15px;
  font-size: 17px;
  color: 17px;
  letter-spacing: .05em;
  color: #ffffff;
  font-family: "Gilroy" !important;
}

/* -------------------------------------------------------------------------- */
/*                                    fontS                                   */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: 'Yekan Bakh';
  src: url("../fonts/Yekan-Bakh/YekanBakh-Medium.eot") format("eot"), url("../fonts/Yekan-Bakh/YekanBakh-Medium.ttf") format("ttf"), url("../fonts/Yekan-Bakh/YekanBakh-Medium.woff") format("woff"), url("../fonts/Yekan-Bakh/YekanBakh-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Kalameh';
  src: url("../fonts/Kalameh/Kalameh-Bold.eot") format("eot"), url("../fonts/Kalameh/Kalameh-Bold.ttf") format("ttf"), url("../fonts/Kalameh/Kalameh-Bold.woff") format("woff"), url("../fonts/Kalameh/Kalameh-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium.eot") format("eot"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("ttf"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.woff2") format("woff2");
}

/* -------------------------------------------------------------------------- */
/*                                Reset Styles                                */
/* -------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
}

p {
  font-family: "Yekan Bakh" !important;
}

ul,
ol {
  list-style: none;
  padding: 0 !important;
  font-family: "Yekan Bakh";
}

a {
  text-decoration: none !important;
  cursor: pointer;
  font-family: "Yekan Bakh" !important;
}

button {
  border: 0 !important;
  outline: 0 !important;
  cursor: pointer;
  font-family: "Yekan Bakh" !important;
}

input,
select,
textarea {
  border: 0;
  outline: 0 !important;
  box-shadow: none !important;
}

textarea {
  resize: none;
}

img {
  cursor: pointer;
}

p {
  font-family: "Yekan Bakh" !important;
}

/* -------------------------------------------------------------------------- */
/*                                 Base Styles                                */
/* -------------------------------------------------------------------------- */
/*# sourceMappingURL=index.css.map */