.header {
  background: #1d1c20 !important;
}

.article {
  .bread-crumb {
    margin: 60px 0 51px 0;
    ul {
      display: flex;
      li {
        a {
          color: #5A5A6B;
          font-family: $Yekan;
          font-weight: 700;
          font-size: 13px;
          line-height: 20px;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    img {
      width: 14px;
      height: 14px;
    }
    h4{
      font-family: $Yekan;
      font-weight: 700;
      font-size: 13px;
      line-height: 20px;
      color: #f88c3d;
      margin-right: 6px;
    }
  }
}

.article {
  animation: bounce 2s forwards;
  margin-top: 145px;
  .article-title {
    ul {
      display: flex;
      li {
        align-self: center;

        p {
          font-family: $Yekan;
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 19px;
          text-align: right;
          color: #5a5a6b;
          margin-left: 24px;
          margin-bottom: 0;
        }

        img {
          width: 22px;
          margin-left: 10px;
        }
      }
    }

    h1 {
      font-family: $Yekan;
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 39px;
      text-align: right;
      color: #201f23;
    }
  }

  .article-content {
    .top-content {
      display: flex;

      .article-title-img {
        width: 100%;
        animation: pulse 8s infinite;
      }

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 27px;
        text-align: right;
        color: #5a5a6b;
      }
    }

    .bottom-content {
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 27px;
        text-align: right;
        color: #5a5a6b;
        margin: 41px 0 41px 0;
      }
    }

    .main-content {
      .title {
        font-family: $Yekan;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        text-align: right;
        color: #F88C3D;
      }

      p {
        font-family: $Yekan;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 27px;
        text-align: right;
        color: #5A5A6B;
        margin: 12px 0 12px 0;
      }

      .tip {
        background: #fbf1ea;
        padding: 24px;
        margin: 32px 0 32px 0;
        position: relative;

        img {
          width: 32px;
          position: absolute;
          top: -10px;
        }

        h5 {
          font-family: $Yekan;
          font-style: normal;
          font-weight: 700;
          font-size: 17px;
          line-height: 27px;
          text-align: center;
          color: #F88C3D;
        }
      }

      p {
        font-family: $Yekan;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 27px;
        text-align: right;
        color: #5A5A6B;
      }
    }
  }

  hr {
    margin-top: 35px;
    border: 1.3px solid #E0E3EB;
    transform: rotate(-180deg);
  }

  .article-tags {
    h6 {
      font-family: $Yekan;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 27px;
      text-align: right;
      color: #F88C3D;
      margin-bottom: 0 !important;
    }

    img {
      width: 22px;
      height: 22px;
      margin-left: 6px;
    }
    .tags {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      a {
        font-weight: 700;
        font-size: 14px;
        line-height: 27px;
        text-align: right;
        color: #5A5A6B;
        margin: 0 10px 0 10px;
        @include border-link($warning)
      }
    }
    .tag-title {
      display: flex;
    }
  }
}

.related-posts {
  .post {
    background: url("../images/related-posts.png") no-repeat;
    border-radius: 1px;
    filter: drop-shadow(0px 25px 250px rgba(0, 0, 0, 0.01));
    max-height: 378px;
    background-size: contain;
    position: relative;
    &:hover{
      transform: scale(0.95);
      transition:1s;
    }
    &:not(:hover){
      transform: scale(1);
      transition:1s;
    }
    .related-post-title{
      .information{
        display: flex;
        position: absolute;
        right: 40px;
        bottom: 80px;
        div {
          display: flex;
          span {
            margin-right: 6px;
          }
        }
        div:nth-child(1) {
          margin-left: 15px;
        }
        span {
          font-family: $Yekan;          font-weight: 500;
          font-size: 12px;
          line-height: 19px;
          display: flex;
          align-items: center;
          color: #FFFFFF;
        }
      }
      h2{
        font-family: $Yekan;
        font-weight: 700;
        font-size: 21px;
        line-height: 31px;
        color: #FFFFFF;
        position: absolute;
        bottom: 39px;
        right: 39px;
      }
    }
  }
  .swiper-container {
    overflow-x: hidden;
  }
  h1{
    font-family: $Kalameh;
    font-weight: 700;
    font-size: 28px;
    line-height: 27px;
    text-align: right;
    color: #201F23;
    margin-top: 93px;
    margin-bottom: 32px;
  }
}

.user-comments{
  background: #F8F8F8;
  .user-comments-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 32px;
    h1{
      font-family: $Kalameh;
      font-weight: 700;
      font-size: 32px;
      line-height: 27px;
      text-align: center;
      color: #201F23;
    }
    svg:nth-child(1) {
      margin-left: 15px;
    }
    .user-comment-icon {
      margin-right: 15px;
    }
  }
  h6{
    font-family: $Kalameh;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #2ABFED;
    margin-bottom: 30px;
  }
  .comment {
    display: flex;
    background: #ffffff;
    box-shadow: 0px 25px 250px rgba(0, 0, 0, 0.01);
    border-radius: 1px;
    padding: 25px 26px;
    margin-bottom: 10px;
    img {
      width: 54px;
      margin-left: 23px;
    }
    .comment-title {
      display: flex;
      justify-content: space-between;
      .comment-information{
        display:flex ;
        h3{
          font-family: $Yekan;
          font-style: normal;
          font-weight: 700;
          font-size: 17px;
          line-height: 27px;
          color: #201F23;
        }
        span{
          font-family: $Yekan;
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: 27px;
          color: #5A5A6B;
          opacity: 0.5;
          margin-right: 15px;
        }
      }
      .replay-comment {
        display: flex;
        align-items: center;
        a{
          font-family: $Yekan;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 25px;
          color: #F88C3D;
          margin-bottom: 0.5rem;
          @include border-link($warning)
        }
        img {
          width: 14px;
          margin-bottom: 0.6rem;
          margin-left: 6px;
        }
      }
    }
  }

  .comment-description{
    p{
      font-family: $Yekan;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 25px;
      color: #5A5A6B;
      margin-bottom: 0 !important;
    }
  }
  .separator {
    margin-top: 61px;
  }
}

.submit-comment-form {
  margin-bottom: 122px;
  h1 {
    font-family: $Kalameh;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 27px;
    text-align: center;
    color: #201F23;
    margin-top: 51px;
    margin-bottom: 34px;
  }
  form {
    span {
      position: relative;
      background-color: $form;
      border-left: none;
      border-color: #e0e3eb;
      border-radius: 2px !important;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 1.3px;
        height: 30px;
        background-color: #d2d5db;
      }
    }

    input {
      position: relative;
      @include input;
      font-size: 15px !important;
      height: 55px;
      &:focus{
        border-bottom: 1px solid $warning;
      }
    }
    .rating {
      position: absolute;
      left: 30px;
      top: 12.5px;
    }
    textarea {
      @include input;
      border: solid 1px $inputBorder;
      resize: both !important;
      &:focus{
        border-bottom: 1px solid $warning;
      }
    }

    button {
      @include btn($white, $warning);
      @include btnEffect($warning);
      width: fit-content;
      margin: 0 auto;
    }
  }
}
