// Theme color
$darkTitle: #1b1a1ffa;
$dark: #1c1c1f;
$listItem: #2a292f;
$img-desc: #151822bf;
$gray: #5b5b6b;
$darkGray: #878793;
$lightGray: #a09cad;
$lightBtn: #f7f9fc;
$form: rgba(255, 255, 255, 0.5);
$sliderBorder: #eff1f8;
$inputBorder: #e0e3eb;
$placeholder: rgba(31, 30, 35, 0.3);
$white: #ffffff;
$primary: #08c0f8;
$warning: #f5ad57;

// Fonts
$Yekan: "Yekan Bakh";
$Kalameh: "Kalameh";
$Gilroy: "Gilroy";

// Mixin
@mixin btn($color, $bgColor, $opacity: 100%) {
    color: $color;
    background-color: $bgColor;
    padding: 13px 30px;
    border-radius: 25px;
    font-size: 15px;
}

@mixin btnEffect($shadow) {
    transition: 0.25s;
    box-shadow: 0 0 0 1em transparent;

    @if ($shadow==$primary) {
        &:hover {
            animation: primary 1s;
        }
    } @else if($shadow==$warning) {
        &:hover {
            animation: warning 1s;
        }
    } @else if($shadow==$white) {
        animation: other 1s;
    }

    @keyframes primary {
        0% {
            box-shadow: 0 0 0 0 $primary;
        }
    }

    @keyframes warning {
        0% {
            box-shadow: 0 0 0 0 $warning;
        }
    }

    @keyframes other {
        0% {
            box-shadow: 0 0 0 0 white;
        }
    }
}

@mixin border($height, $left, $bottom, $color, $opacity: 100%) {
    position: absolute;
    width: 408px;
    height: $height;
    left: $left;
    bottom: $bottom;
    border: 2.5px solid $color;
    border-radius: 250px 250px 0px 0px;
    opacity: $opacity;
}

@mixin main-title($font, $color, $align: right) {
    font-size: $font;
    color: $color;
    font-family: $Kalameh;
    text-align: $align;
    animation: bounce 2s forwards;
}

@mixin magic-border($width, $color, $duration, $direction) {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: calc(100% + #{$width * 2});
        height: calc(100% + #{$width * 2});
        top: calc(#{$width}/ -1);
        left: calc(#{$width}/ -1);
        background: linear-gradient(to right, $color 0%, $color 100%),
        linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to top, $color 50%, transparent 50%),
        linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to left, $color 0%, $color 100%);
        background-size: 100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
        background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
        background-repeat: no-repeat, no-repeat;
        transition: transform $duration ease-in-out, background-position $duration ease-in-out,
        background-size $duration ease-in-out;
        transform: scaleX(0) rotate(180deg * $direction);
        transition-delay: $duration * 2, $duration, 0s;
        z-index: -1;
    }
    &:hover {
        &:before {
            background-size: 200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
            background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
            transform: scaleX(1) rotate(180deg * $direction);
            transition-delay: 0s, $duration, $duration * 2;
        }
    }
}


@mixin border-link($color) {
    &::after {
        display: block;
        content: "";
        border-bottom: solid 2px $color;
        transform: scaleX(0);
        transition: transform 300ms ease-in-out;
        transform-origin: 100% 50%;
    }

    &:hover {
        &:after {
            transform: scaleX(1);
        }
    }
}
@mixin main-title-desc($borderColor) {
    position: relative;
    font-size: 14px;
    color: $gray;
    font-family: $Yekan;

    &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-65%);
        width: 94px;
        border-bottom: 2px solid $borderColor;
        border-radius: 50%;
    }
}

@mixin input {
    background-color: $form;
    border-right: none;
    border-color: $inputBorder;
    border-radius: 2px !important;

    &::placeholder {
        font-size: 15px;
        color: $placeholder;
        font-family: $Yekan;
    }

    &:focus {
        border-color: $inputBorder;
        background-color: $form;
    }
}

@mixin border-title {
    position: relative;
    font-weight: 700;
    font-size: 19px;
    line-height: 29px;
    color: #3f3c48;
    padding-bottom: 16px;
    margin-bottom: 30px;
    border-bottom: 1.3px solid #dfe1e4;

    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        right: 0;
        width: 125px;
        height: 1.3px;
        background-color: #f88c3d;
        z-index: 10;
    }
}


