// Variables & Mixin
@import './base';

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
.header {
    width: 100%;
    height: 620px;
    margin-bottom: 50px;
    // min-height: 75vw;
    background: linear-gradient(99.87deg,
            rgba(27, 26, 31, 0.96) 1.39%,
            rgba(34, 33, 39, 0.96) 28.4%,
            rgba(23, 23, 27, 0.96) 66.7%,
            rgba(27, 26, 31, 0.96) 98.14%),
        url(../images/banner.png) no-repeat right;
    background-size: cover;

    .navbar {
        height: 100px;
        background-color: transparent !important;

        ul {
            margin: 0 auto;

            a {
                color: $white;
                opacity: 70%;
                margin-left: 30px;
                font-size: 15px;
            }
        }

        .contact-us-btn {
            @include btn($white, #3C3A3F, 10%)
        }
    }

    .header-content {
        width: 100%;
        height: 520px;
        position: relative;

        p.header-trust {
            color: $white;
            font-family: $Gilroy;
            word-spacing: 3px;

            span {
                color: $primary;
            }
        }

        .header-title {
            font-size: 50px;
            margin: 25px 0;
            color: $white;
            font-family: $Kalameh;
        }

        .header-desc {
            width: 580px;
            font-size: 15px;
            color: $lightGray;
            line-height: 1.8;
            margin-bottom: 50px;
        }

        .header-btn {
            @include btn($white, $primary);

            svg {
                margin: 5px 0 0 10px;
            }
        }

        .header-img {
            position: absolute;
            bottom: -35px;
            left: 0;

            .img-border {
                @include border(473px, 16px, 35px, $white, 10%);
            }

            img {
                z-index: 2;
            }
        }

        .header-mouse {
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $white;
            box-shadow: 0px 30px 35px rgba(42, 43, 74, 0.07);
            padding: 20px 15px;
            border-radius: 25px;
        }

    }
}

/* -------------------------------------------------------------------------- */
/*                                  About us                                  */
/* -------------------------------------------------------------------------- */
.about-us {
    padding-bottom: 100px;

    .about-img {
        position: relative;

        .img-border {
            @include border(510px, 5px, -15px, $warning, 60%);
            z-index: -1;
        }
    }

    .about-content {

        h2 {
            @include main-title(38px, $darkTitle);
        }

        p {
            font-size: 15px;
            margin: 25px 0;
            text-align: justify;
            line-height: 1.8;
            color: $lightGray;
        }

        ul {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                font-size: 17px;
                font-weight: 700;
                color: $listItem;

                img {
                    margin-left: 10px;
                }
            }
        }

        .lavino {
            @include btn($white, $warning);
            margin-left: 10px
        }

        .questions {
            @include btn($dark, $lightBtn);
            font-weight: 700;
        }
    }
}

/* ----------------------------------------------------------------------- */
/*                             Consulting form                             */
/* ----------------------------------------------------------------------- */
.consulting-form {
    height: 660px;
    padding: 60px 0;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.02),
            rgba(0, 0, 0, 0.02)),
        url(../images/consulting.png) no-repeat bottom left;
    background-size: cover;

    .consulting-title {
        text-align: center;

        h2 {
            @include main-title(34px, $darkTitle, center)
        }

        span {
            @include main-title-desc($warning)
        }
    }

    form {
        width: 60%;
        // margin-top: 60px;
        margin: 65px auto 0 auto;

        span {
            position: relative;
            background-color: $form;
            border-left: none;
            border-color: #E0E3EB;
            border-radius: 2px !important;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 1.3px;
                height: 30px;
                background-color: #d2d5db;
            }
        }

        input {
            @include input;
        }

        select {
            @include input;
            font-size: 15px !important;
            color: $placeholder;
            font-family: $Yekan;
        }

        textarea {
            @include input;
            border: solid 1px $inputBorder
        }

        button {
            @include btn($white, $warning);
            width: fit-content;
            margin: 0 auto;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                  Products                                  */
/* -------------------------------------------------------------------------- */
.products {
    padding: 60px 0;

    .products-title {
        text-align: center;
        margin-bottom: 60px;

        h2 {
            @include main-title(34px, $darkTitle, center);
        }

        span {
            @include main-title-desc($primary)
        }
    }

    .products-item {
        width: fit-content;
        padding: 35px 70px 30px 70px;
        border: 1.3px solid $sliderBorder;

        .products-img {
            position: relative;


            .img-desc {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                width: 99%;
                height: 40px;
                background-color: $img-desc;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $Gilroy;
                color: $white;
                letter-spacing: 3px;
                border-radius: 0 0 5px 5px;
            }
        }

        h3 {
            margin: 30px 0 15px 0;
            font-size: 18px;
            color: $dark;
            font-family: $Yekan;
            font-weight: 700;
        }

        span {
            font-size: 17px;
            color: $primary;
            font-family: $Yekan;
        }
    }

    button {
        @include btn($white, $primary);
        margin-top: 70px;

    }
}

/* ----------------------------------------------------------------------- */
/*                                Feedback                                 */
/* ----------------------------------------------------------------------- */
.feedback {
    height: 500px;
    background: linear-gradient(rgba(256, 256, 256, .9), rgba(256, 256, 256, .9)), url(../images/feedback.png) no-repeat;
    background-size: cover;
    backdrop-filter: blur(14px);
    padding: 50px 0;

    .feedback-title {
        text-align: center;
        margin-bottom: 60px;

        h2 {
            @include main-title(38px, $dark, center)
        }

        span {
            @include main-title-desc($warning)
        }
    }

    .slider {
        position: relative;

        .feedback-item {
            position: relative;
            width: 100%;
            margin: 0 auto;
            text-align: center;

            .feedback-desc {
                width: 100%;
                padding: 30px 30px 40px 30px;
                background: rgba(255, 255, 255, 0.75);
                border: 2px solid $white;
                box-shadow: 0px 10px 75px rgba(0, 0, 0, 0.06);
                backdrop-filter: blur(15px);

                p {
                    font-size: 16px;
                    font-family: $Yekan;
                    color: $gray;
                    line-height: 1.8;
                }
            }

            .feedback-author {
                position: relative;
                margin-top: -35px;

                img {
                    padding: 5px;
                    border: 2px solid $warning;
                    border-radius: 50%;
                    margin-bottom: 20px;
                }

                h5 {
                    font-family: $Yekan;
                    font-size: 16px;
                    color: $darkTitle;
                    font-weight: 700;
                    margin-bottom: 0;
                }

                span {
                    font-family: $Yekan;
                    font-size: 12px;
                    color: $warning;
                }
            }
        }

        button {
            position: absolute;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $warning;
            border-radius: 50%;
            color: $white;
        }

        .prev {
            top: 65px;
            left: 165px;
        }

        .next {
            top: 65px;
            right: 165px;
        }

    }

}

/* ----------------------------------------------------------------------- */
/*                               Departments                                */
/* ----------------------------------------------------------------------- */
.departments {
    padding: 60px 0;
    text-align: center;

    .departments-title {
        text-align: center;
        margin-bottom: 60px;

        h2 {
            @include main-title(34px, $darkTitle, center)
        }

        span {
            @include main-title-desc($primary)
        }
    }

    .departments-item {
        text-align: center;
        background: $white;
        border: 1.3px solid $sliderBorder;
        padding: 30px 40px 35px 40px;
        margin-bottom: 35px;

        img {
            padding: 20px;
            border: 1.4px solid $sliderBorder;
            border-radius: 50%;
            margin-bottom: 30px;
        }

        h3 {
            font-family: $Yekan;
            font-size: 18px;
            color: $dark;
            font-weight: 700;
        }
    }

    button {
        @include btn($white, $primary);
    }

}

/* ----------------------------------------------------------------------- */
/*                               Permissions                               */
/* ----------------------------------------------------------------------- */
.permissions {
    padding: 60px;
    text-align: center;

    .permissions-title {
        margin-bottom: 60px;

        h2 {
            @include main-title(34px, $darkTitle, center)
        }

        span {
            @include main-title-desc($warning)
        }
    }

    .permissions-item {
        padding: 20px 18px 20px 28px;
        border: 1.3px solid $sliderBorder;
        border-radius: 2px;
        display: flex;
        align-items: center;
        // margin-bottom: 35px;

        .permissions-img {
            padding: 20px 18px;
            background-color: rgba(245, 173, 87, .12);
            border-radius: 2px;
        }

        .permissions-desc {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 20px;
            text-align: start;

            h5 {
                font-size: 17px;
                font-weight: 700;
                color: $dark;
                font-family: $Yekan;
            }

            span {
                font-size: 14px;
                color: $warning;
                font-family: $Yekan
            }

            a {
                @extend span;
            }
        }
    }

    button {
        @include btn($white, $warning)
    }
}

/* ----------------------------------------------------------------------- */
/*                                  Blog                                   */
/* ----------------------------------------------------------------------- */
.blog {
    padding: 60px;
    text-align: center;

    .blog-title {
        margin-bottom: 60px;

        h2 {
            @include main-title(34px, $darkTitle, center)
        }

        span {
            @include main-title-desc($primary)
        }
    }

    .blog-item {

        h5 {
            font-size: 19px;
            font-family: $Yekan;
            color: $dark;
            font-weight: 700;
            margin-bottom: 15px;
        }

        p {
            color: $darkGray;
            font-size: 13px;
            line-height: 24px;
        }

        a {
            font-size: 13px;
            color: $primary;
        }
    }

    button {
        @include btn($white, $primary)
    }
}

/* ----------------------------------------------------------------------- */
/*                               Contact-us                                */
/* ----------------------------------------------------------------------- */
.contact-us {
    padding: 50px 0;
    background: url(../images/contact-us.png) no-repeat;
    background-color: rgb(8, 192, 248);
    background-size: cover;

    .contact-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h5 {
            font-size: 22px;
            font-family: $Yekan;
            color: $white;
        }

        span {
            font-size: 11px;
            font-family: $Gilroy;
            color: $white;
            letter-spacing: .05em;
        }

        .contact-info {
            display: flex;
            align-items: center;

            .info-item:first-child {
                margin-left: 70px;
            }

            .info-item {
                display: flex;
                align-items: center;
                text-align: end;

                img {
                    padding: 16px;
                    border: 1.4px solid $white;
                    border-radius: 50%;
                }

                section {
                    margin-left: 20px;

                    p {
                        font-size: 14px;
                        color: $white;
                        font-size: $Gilroy;
                        letter-spacing: .1em;
                        margin-bottom: 0;
                    }

                    a {
                        font-size: 22px;
                        color: $white;
                        letter-spacing: .06em;
                        font-family: $Gilroy;
                    }
                }
            }
        }
    }
}

/* ----------------------------------------------------------------------- */
/*                                 Footer                                  */
/* ----------------------------------------------------------------------- */
.footer {
    padding: 80px 0 0 0;
    background: linear-gradient(99.87deg,
            rgba(27, 26, 31, 0.98) 1.39%,
            rgba(34, 33, 39, 0.98) 28.4%,
            rgba(23, 23, 27, 0.98) 66.7%,
            rgba(27, 26, 31, 0.98) 98.14%);

    .footer-desc {


        .desc-title {
            padding-right: 20px;
            border-right: 3px solid $primary;

            h3 {
                @include main-title(30px, $white);
                margin-bottom: 0;
            }

            span {
                @include main-title(18px, $white);
            }
        }

        p {
            font-size: 16px;
            margin: 20px 0;
            color: #908C9C;
            line-height: 26px;
            text-align: justify;
        }

        a {
            font-size: 13px;
            color: $primary;
        }
    }

    .quick-access {
        text-align: start;

        h5 {
            font-size: 16px;
            font-family: $Yekan;
            color: $white;
            margin-bottom: 25px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 45%;
                font-size: 15px;
                font-family: $Yekan;
                opacity: .7;
                margin-bottom: 20px;

                a {
                    color: $white;
                }
            }
        }

    }

    .connect {

        .connect-info {
            padding: 35px 30px;
            border: 1.5px dashed #47464A;
            border-radius: 7px;

            h3 {
                font-size: 20px;
                font-family: $Yekan;
                color: $white;
                margin-bottom: 25px;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                li {
                    display: flex;
                    align-items: center;
                }

                li:last-child {
                    margin-right: 40px;
                }

                a {
                    margin-left: 15px;
                    letter-spacing: .05em;
                    color: $white;
                }

                a.email {
                    font-size: 17px;
                    font-family: $Gilroy !important;
                }

                a.phone {
                    font-size: 19px;
                    font-family: $Yekan !important;
                }
            }
        }

        .social {
            border: 1.5px dashed #47464A;
            border-top: 0;
            border-radius: 7px;
            padding: 35px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h5 {
                font-size: 16px;
                font-family: $Yekan;
                color: $white;
                margin: 0;
            }

            span {
                font-size: 12px;
                font-family: $Gilroy;
                color: #6D6A78;
                letter-spacing: .01em;
            }

            ul {
                display: flex;

                li {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: #333238;
                    margin-right: 15px;

                    a {
                        color: $white;

                        svg {
                            font-size: 20px;

                        }
                    }

                }
            }
        }
    }

    .copyright {
        margin-top: 80px;
        border-top: 1.5px dashed #47464A;
        padding: 30px 0;

        p {
            font-size: 13px;
            font-family: $Gilroy;
            color: #6D6A78;
            margin: 0;
            letter-spacing: .01em;
            opacity: .9;
            text-transform: uppercase;
            word-spacing: 2px;
        }
    }
}