// Variables & Mixin
@import "base";
html {
  overflow-x: hidden;
}
body {
  @include theme-colors($light-theme: true);
}
.dark-theme{
  @include theme-colors($light-theme: false);
}
::selection {
  background: #f88c3d;
  color: #fff;
}
.navbar-toggler-icon{
  background-image: url('../images/menu.png');
}
.navbar-toggler{
  &:focus{
    box-shadow: unset !important;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000000;
  .overlay-door {
    &:before, &:after {
      content: "";
      position: absolute;
      width: 50%;
      height: 100%;
      background: #111;
      transition: .5s cubic-bezier(.77,0,.18,1);
      transition-delay: .8s;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  &.loaded {
    .overlay-door {
      &:before {
        left: -50%;
      }
      &:after {
        right: -50%;
      }
    }
    .overlay-content {
      opacity: 0;
      margin-top: -15px;
    }
  }
  .overlay-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s cubic-bezier(.77,0,.18,1);
    .skip {
      display: block;
      width: 130px;
      text-align: center;
      margin: 50px auto 0;
      cursor: pointer;
      color: #fff;
      font-weight: 700;
      padding: 12px 0;
      border: 2px solid #fff;
      border-radius: 3px;
      transition: 0.2s ease;
      &:hover {
        background: #ddd;
        color: #444;
        border-color: #ddd;
      }
    }
  }
}

#layer{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: calc(100% - 270px);
  background-color: transparent;
  z-index: 10000;
  display: none;
  &.active{
    display: block;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
.header {
  width: 100%;
  height: fit-content;
  background-color:#1d1c20 !important;

  .navbar {
    height: 100px;
    background-color: transparent !important;

    ul {
      margin: 0 auto;

      a {
        color: rgba(256, 256, 256, 0.7);
        margin-left: 30px;
        font-size: 15px;
        &.active-link{
          color: $warning;
        }
        &::after {
          display: block;
          content: "";
          border-bottom: solid 2px $warning;
          transform: scaleX(0);
          transition: transform 300ms ease-in-out;
          transform-origin: 100% 50%;
        }

        &:hover {
          &:after {
            transform: scaleX(1);
          }
        }
      }
    }

    .dark-mode {
      position: relative;
      background-color: rgb(60, 58, 63);
      border-radius: 25px;
      margin-left: 6px;
      padding: 5px;

      button {
        background-color: transparent;
        padding: 8px 10px;

        &.active {
          background-color: $white;
          border-radius: 50%;
          svg {
            path {
              stroke: black !important;
            }
          }
        }
      }
    }

    .contact-us-btn {
      @include btn($white, #3c3a3f, 10%);
      @include btnEffect($gray);
    }
  }

}
.banner{
  padding-top: 120px;
  background: linear-gradient(
    99.87deg,
    rgba(27, 26, 31, 0.96) 1.39%,
    rgba(34, 33, 39, 0.96) 28.4%,
    rgba(23, 23, 27, 0.96) 66.7%,
    rgba(27, 26, 31, 0.96) 98.14%
  ),
  url(../images/banner.png) no-repeat right;
background-size: cover;
.banner-content {
  width: 100%;
  height: 520px;
  position: relative;

  p.banner-trust {
    color: $white;
    font-family: $Gilroy;
    word-spacing: 3px;
    animation: bounce 2s forwards;

    span {
      color: $primary;
    }
  }

  .banner-title {
    font-size: 50px;
    margin: 25px 0;
    color: $white;
    font-family: $Kalameh;
    animation: bounce 2s forwards;
  }

  .banner-desc {
    width: 580px;
    font-size: 15px;
    color: $lightGray;
    line-height: 1.8;
    margin-bottom: 50px;
    animation: bounce 2s forwards;
    text-align: justify
  }

  .banner-btn {
    @include btn($white, $primary);
    @include btnEffect($primary);

    img {
      margin-left: 5px;
      margin-bottom: 3px;
    }
  }

  .banner-img {
    position: absolute;
    bottom: -35px;
    left: 0;

    .img-border {
      @include border(473px, 16px, 35px, $white, 10%);
    }

    img {
      z-index: 2;
      animation: pulse 8s infinite;
    }
  }

  .banner-mouse {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    // box-shadow: 0 1px 5px 0 #dbdbdb;
    padding: 30px 20px;
    border-radius: 25px;
    border: 0;
    outline: 0;
  }
}
}

/* -------------------------------------------------------------------------- */
/*                                  About us                                  */
/* -------------------------------------------------------------------------- */
.main-about-us {
  padding: 100px;

  .about-img {
    position: relative;

    img {
      animation: pulse 8s infinite;
    }

    .img-border {
      @include border(510px, -5px, -15px, $warning, 60%);
      z-index: -1;
    }
  }

  .about-content {
    h2 {
      @include main-title(38px, $darkTitle);
      animation: bounce 2s forwards;
    }

    p {
      font-size: 15px;
      margin: 25px 0;
      text-align: justify;
      line-height: 1.8;
      color: $lightGray;
      animation: bounce 2s forwards;
    }

    ul {
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      animation: bounce 2s forwards;

      li {
        font-size: 17px;
        font-weight: 700;
        color: $listItem;

        &:hover {
          animation: jello 1s forwards;
        }

        img {
          margin-left: 10px;
        }
      }
    }

    .lawino {
      @include btn($white, $warning);
      @include btnEffect($warning);
      margin-left: 10px;
      // animation: fadeIn 2s forwards;
    }

    .questions {
      @include btn($dark, $lightBtn);
      transition: 0.25s;
      font-weight: 700;
      // animation: fadeIn 2s forwards;
      // @include btnEffect($gray);

      &:hover {
        @include btn($white, $warning);
      }
    }
  }
}

/* ----------------------------------------------------------------------- */
/*                             Consulting form                             */
/* ----------------------------------------------------------------------- */
.consulting-form {
  height: auto;
  min-height: 660px;
  padding: 60px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02)),
    url(../images/consulting.png) no-repeat bottom left;
  background-size: cover;

  .consulting-title {
    text-align: center;

    h2 {
      @include main-title(34px, $darkTitle, center);
    }

    span {
      @include main-title-desc($warning);
    }
  }

  form {
    width: 800px;
    // margin-top: 60px;
    margin: 65px auto 0 auto;
    animation: fadeIn 2s forwards;

    span {
      position: relative;
      background-color: $form;
      border-left: none;
      border-color: #e0e3eb;
      border-radius: 2px !important;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 1.3px;
        height: 30px;
        background-color: #d2d5db;
      }
    }

    input {
      @include input;
      font-size: 15px !important;

      &:focus {
        border-bottom: 1px solid $warning;
      }
    }

    select {
      @include input;
      font-size: 15px !important;
      color: $placeholder;
      font-family: $Yekan;

      &:focus {
        border-bottom: 1px solid $warning;
      }
    }

    textarea {
      @include input;
      border: solid 1px $inputBorder;

      &:focus {
        border-bottom: 1px solid $warning;
      }
    }

    button {
      @include btn($white, $warning);
      @include btnEffect($warning);
      width: fit-content;
      margin: 0 auto;
    }
  }
}

/* ----------------------------------------------------------------------- */
/*                                   brands                                */
/* ----------------------------------------------------------------------- */
.brands {
  .brands-item {
    animation: bounceIn 2s forwards;
  }
}

/* -------------------------------------------------------------------------- */
/*                                  Products                                  */
/* -------------------------------------------------------------------------- */
.products {
  padding: 60px 0;

  .products-title {
    text-align: center;
    margin-bottom: 60px;

    h2 {
      @include main-title(34px, $darkTitle, center);
    }

    span {
      @include main-title-desc($primary);
    }
  }

  .products-item {
    width: fit-content;
    padding: 35px 70px 30px 70px;
    border: 1.3px solid $sliderBorder;
    animation: fadeIn 2s forwards;
    @include magic-border(2px, $primary, 0.2s, 1);
    .products-img {
      position: relative;

      .img-desc {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 99%;
        height: 40px;
        background-color: $img-desc;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $Gilroy;
        color: $white;
        letter-spacing: 3px;
        border-radius: 0 0 5px 5px;
      }
    }

    a {
      color: $dark;
      
      &:hover{
        color: $primary !important;
                }

      h3 {
        margin: 30px 0 15px 0;
        font-size: 18px;
        font-family: $Yekan;
        font-weight: 700;
      }
    }

    span {
      font-size: 17px;
      color: $primary;
      font-family: $Yekan;
    }
  }

  button {
    @include btn($white, $primary);
    @include btnEffect($primary);
    margin-top: 70px;
    // animation: fadeIn 2s forwards;
  }
}

/* ----------------------------------------------------------------------- */
/*                                Feedback                                 */
/* ----------------------------------------------------------------------- */
.feedback {
  height: auto;
  min-height: 500px;
  background: linear-gradient(rgba(256, 256, 256, 0.9), rgba(256, 256, 256, 0.9)), url(../images/feedback.png) no-repeat;
  background-size: cover;
  backdrop-filter: blur(14px);
  padding: 50px 0;

  .feedback-title {
    text-align: center;
    margin-bottom: 60px;

    h2 {
      @include main-title(38px, $dark, center);
    }

    span {
      @include main-title-desc($warning);
    }
  }

  .slider {
    position: relative;

    .feedback-item {
      position: relative;
      width: 100%;
      margin: 0 auto;
      text-align: center;

      .feedback-desc {
        width: 100%;
        padding: 30px 30px 40px 30px;
        background: rgba(255, 255, 255, 0.75);
        border: 2px solid $white;
        box-shadow: 0px 10px 75px rgba(0, 0, 0, 0.06);
        backdrop-filter: blur(15px);

        p {
          font-size: 16px;
          font-family: $Yekan;
          color: $gray;
          line-height: 1.8;
        }
      }

      .feedback-author {
        position: relative;
        margin-top: -35px;

        img {
          padding: 5px;
          border: 2px solid $warning;
          border-radius: 50%;
          margin-bottom: 20px;

          &:hover {
            @include btnEffect($warning);
          }
        }
a{
  color: $darkTitle;

        h5 {
          font-family: $Yekan;
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 0;
        }
      }
        span {
          font-family: $Yekan;
          font-size: 12px;
          color: $warning;
        }
      }
    }

    button {
      position: absolute;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $warning;
      border-radius: 50%;
      color: $white;

      &:hover {
        @include btnEffect($warning);
      }
    }

    .prev {
      top: 65px;
      left: 165px;
    }

    .next {
      top: 65px;
      right: 165px;
    }
  }
}

/* ----------------------------------------------------------------------- */
/*                               Departments                               */
/* ----------------------------------------------------------------------- */
.departments {
  padding: 60px 0;
  text-align: center;

  .departments-title {
    text-align: center;
    margin-bottom: 60px;

    h2 {
      @include main-title(34px, $darkTitle, center);
    }

    span {
      @include main-title-desc($primary);
    }
  }

  .departments-item {
    text-align: center;
    background: $white;
    border: 1.3px solid $sliderBorder;
    padding: 30px 40px 35px 40px;
    margin-bottom: 35px;
    animation: fadeInDown 2s forwards;
    @include magic-border(2px, $primary, 0.2s, 1);
    section {
      width: 75px;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1.4px solid $sliderBorder;
      border-radius: 50%;
      margin: 0 auto 30px auto;

      &:hover {
        @include btnEffect($primary);
      }

      &.active {
        border: 0;
        background: linear-gradient(128.16deg, rgba(8, 192, 248, 0.11) -2.91%, rgba(8, 147, 248, 0.11) 106.26%);
      }
    }

    a {
      color: $dark;

      &:hover{
        color: $primary !important;
                }

      h3 {
        font-family: $Yekan;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }

  button {
    @include btn($white, $primary);
    @include btnEffect($primary);
  }
}

/* ----------------------------------------------------------------------- */
/*                               Permissions                               */
/* ----------------------------------------------------------------------- */
.permissions {
  padding: 60px 0;
  text-align: center;

  .permissions-title {
    margin-bottom: 60px;

    h2 {
      @include main-title(34px, $darkTitle, center);
    }

    span {
      @include main-title-desc($warning);
    }
  }

  .permissions-item {
    padding: 20px 18px 20px 28px;
    border: 1.3px solid $sliderBorder;
    border-radius: 2px;
    display: flex;
    align-items: center;
    animation: fadeInDown 2s forwards;
    @include magic-border(2px, $warning, 0.2s, 1);
    .permissions-img {
      padding: 20px 18px;
      background-color: rgba(245, 173, 87, 0.12);
      border-radius: 2px;
    }

    .permissions-desc {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 20px;
      text-align: start;

      h5 {
        font-size: 17px;
        font-weight: 700;
        color: $dark;
        font-family: $Yekan;
      }

      span {
        font-size: 14px;
        color: $warning;
        font-family: $Yekan;
      }

      a {
        @extend span;
          @include border-link($warning);
                  
      }
    }
  }

  button {
    @include btn($white, $warning);
    @include btnEffect($warning);
  }
}

/* ----------------------------------------------------------------------- */
/*                               Satisfaction                              */
/* ----------------------------------------------------------------------- */
.satisfaction {
  padding: 50px 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 965px;
    height: 100%;
    background-image: url("../images/u-s-bg.png");
    background-color: #f0f1f3;
    background-repeat: no-repeat;
    background-position: right;
    z-index: -1;
  }

  .satisfaction-desc {
    h2 {
      @include main-title(38px, $darkTitle);
    }

    span {
      font-family: $Yekan;
      font-weight: 500;
      font-size: 16px;
      color: $gray;
    }

    p {
      text-align: justify;
      width: 80%;
      margin-top: 45px;
      font-size: 15px;
      color: #a09cad;
      line-height: 1.8;
    }
  }

  .satisfaction-img {
    position: relative;
    background-color: #d8dbde;
    padding: 11px;
    border-radius: 1px;
    animation: pulse 6s infinite;

    img {
      width: 100%;
      height: 100%;
    }

    .play {
      position: absolute;
      top: calc(50% - 40px);
      right: calc(50% - 40px);
      width: 80px;
      height: 80px;
      padding: 5px;
      background: rgba(255, 255, 255, 0.5);
      border: 1px solid #ffffff;
      border-radius: 50%;
      @include btnEffect($white);

      .play-bg {
        width: 100%;
        height: 100%;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        img {
          width: 22px;
          height: 28px;
        }
      }
    }
  }
}

/* ----------------------------------------------------------------------- */
/*                                  Blog                                   */
/* ----------------------------------------------------------------------- */
.blog {
  padding: 60px 0;
  text-align: center;

  .blog-title {
    margin-bottom: 60px;

    h2 {
      @include main-title(34px, $darkTitle, center);
    }

    span {
      @include main-title-desc($primary);
    }
  }

  .blog-item {
    img {
      &:hover {
        transform: scale(0.95);
        transition: 500ms;
      }

      &:not(:hover) {
        transform: scale(1);
        transition: 500ms;
      }
    }

    a.card-title {
      color: $dark;

      &:hover {
        color: $primary !important;
      }

      h5 {
        font-size: 19px;
        font-family: $Yekan;
        font-weight: 700;
        margin-bottom: 15px;
      }
    }

    p {
      color: $darkGray;
      font-size: 13px;
      line-height: 24px;
    }

    a {
      font-size: 13px;
      color: $primary;
      display: inline-block;
      &:last-child{
        @include border-link($primary)
      }

      &:hover{
        color: $primary !important;
                }
    }
  }

  button {
    @include btn($white, $primary);
    @include btnEffect($primary);
  }
}

/* ----------------------------------------------------------------------- */
/*                               Contact-us                                */
/* ----------------------------------------------------------------------- */
.contact-us {
  padding: 50px 0;
  background: url(../images/contact-us.png) no-repeat;
  background-color: rgb(8, 192, 248);
  background-size: cover;

  // display: flex;
  // align-items: center;
  // justify-content: space-between;

  h5 {
    font-size: 22px;
    font-family: $Yekan;
    color: $white;
  }

  span {
    font-size: 11px;
    font-family: $Gilroy;
    color: $white;
    letter-spacing: 0.05em;
  }

  .contact-info {
    // display: flex;
    align-items: center;
    margin: 0 auto;

    .info-item:first-child {
      margin-left: 70px;
    }

    .info-item {
      display: flex;
      align-items: center;
      text-align: end;

      img {
        padding: 16px;
        border: 1.4px solid $white;
        border-radius: 50%;

        &:hover {
          animation: rubberBand 500ms forwards;
        }
      }

      section {
        margin-left: 20px;

        p {
          font-size: 14px;
          color: $white;
          font-size: $Gilroy;
          letter-spacing: 0.1em;
          margin-bottom: 0;
        }

        a {
          font-size: 22px;
          color: $white;
          letter-spacing: 0.06em;
          font-family: $Gilroy;
          &:hover {
            color: $white !important;
          }
          @include border-link($white);
        }
      }
    }
  }
}

/* ----------------------------------------------------------------------- */
/*                                 Footer                                  */
/* ----------------------------------------------------------------------- */
.footer {
  padding: 80px 0 0 0;
  background: linear-gradient(
    99.87deg,
    rgba(27, 26, 31, 0.98) 1.39%,
    rgba(34, 33, 39, 0.98) 28.4%,
    rgba(23, 23, 27, 0.98) 66.7%,
    rgba(27, 26, 31, 0.98) 98.14%
  );

  .footer-desc {
    .desc-title {
      padding-right: 20px;
      border-right: 3px solid $primary;

      h3 {
        @include main-title(30px, $white);
        margin-bottom: 0;
      }

      span {
        @include main-title(18px, $white);
      }
    }

    p {
      font-size: 16px;
      margin: 20px 0;
      color: #908c9c;
      line-height: 26px;
      text-align: justify;
    }

    a {
      font-size: 13px;
      color: $primary;
      display: inline-block;
      @include border-link($primary);

      &:hover{
        color: $primary !important;
                }
    }
  }

  .quick-access {
    text-align: start;

    h5 {
      font-size: 16px;
      font-family: $Yekan;
      color: $white;
      margin-bottom: 25px;
    }

    ul {

      li {
        width: 45%;
        font-size: 15px;
        font-family: $Yekan;
        opacity: 0.7;
        margin-bottom: 20px;
        display: flex;

        a {
          color: $white;
          @include border-link($primary);

          &:hover{
            color: $primary !important;
                    }
        }
      }
    }
  }

  .connect {
    .connect-info {
      padding: 35px 30px;
      border: 1.5px dashed #47464a;
      border-radius: 7px;

      h3 {
        font-size: 20px;
        font-family: $Yekan;
        color: $white;
        margin-bottom: 25px;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li {
          display: flex;
          align-items: center;
        }

        li:last-child {
          margin-right: 40px;
        }

        a {
          margin-left: 15px;
          letter-spacing: 0.05em;
          color: $white;

        &:hover{
color: $primary !important;
        }
        }

        a.email {
          font-size: 17px;
          font-family: $Gilroy !important;
          @include border-link($primary);
        }

        a.phone {
          font-size: 19px;
          font-family: $Yekan !important;
          @include border-link($primary);
        }
      }
    }

    .social {
      border: 1.5px dashed #47464a;
      border-top: 0;
      border-radius: 7px;
      padding: 35px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h5 {
        font-size: 16px;
        font-family: $Yekan;
        color: $white;
        margin: 0;
      }

      span {
        font-size: 12px;
        font-family: $Gilroy;
        color: #6d6a78;
        letter-spacing: 0.01em;
      }

      ul {
        display: flex;
        align-items: center;

        li {
          
          a {
            width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: #333238;
          color: $white;
          margin-right: 15px;

          &:hover {
            @include btnEffect($gray);
            color: $primary !important;
          }

            svg {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .copyright {
    margin-top: 80px;
    border-top: 1.5px dashed #47464a;
    padding: 30px 0;

    p {
      font-size: 13px;
      font-family: $Gilroy;
      color: #6d6a78;
      margin: 0;
      letter-spacing: 0.01em;
      opacity: 0.9;
      text-transform: uppercase;
      word-spacing: 2px;
    }
  }
}

@include change-color